/* common */
body {
  font-family: sans-serif;
  line-height: 1.5;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

/* header */
header {
  background-color: red;
}
header .inner {
  width: 1100px;
  height: 78px;
  margin: 0 auto;
  background-color: orange;
  position: relative;
}
header .logo {
  position: absolute;
  height: 40px;
  width: 166px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
header .sub-menu {
  display: flex;
}
header .sub-menu ul.menu {
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  /* display: block; */
  width: 1px;
  height: 13px;
  background-color: #c9c9c9;;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 15px;
  padding: 0 15px;
  display: block;
  color: #ffffff;
  position: relative;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu ul.menu li a.material-symbols-outlined {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}